# 项目排除路径
/out/
/.idea/vcs.xml
/.idea/intellij-javadocs-4.0.1.xml
/JavaCasePackages/Snake/Direction.java
/JavaCasePackages/Snake/Food.java
/JavaCasePackages/Snake/record.txt
/JavaCasePackages/Snake/SnakeBody.java
/JavaCasePackages/Snake/SnakeDemo.java
/JavaCasePackages/Snake/SnakeList.java
/JavaCasePackages/Snake/SnakeNode.java
/JavaCasePackages/Snake/snake/Direction.java
/JavaCasePackages/Snake/snake/Food.java
/JavaCasePackages/Snake/snake/SnakeBody.java
/JavaCasePackages/Snake/snake/SnakeDemo.java
/JavaCasePackages/Snake/snake/SnakeList.java
/JavaCasePackages/Snake/snake/SnakeNode.java
